.active {
    border: 2px solid goldenrod;
}

.player {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
}

.player-active {
    color: goldenrod;
}

.player-name {
    width: 10rem;
    font-size: 2rem;
}

.chosen {
    font-size: 2rem;
    font-family: 900;
    color: white;

}

button {
    font-size: 1.5rem;
    border: none;
    background-color: #343221;
    cursor: pointer;
    color: white;
}

button:hover {
    color: red;
}